body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: min(4rem, max(1.35rem, 2vw));
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 14px sans-serif;
  font-size: min(4rem, max(1.35rem, 2vw));
}

ol,
ul {
  display: flex;
  padding-left: 1.3rem;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#status {
  justify-self: center;
}

.square {
  background: ivory;
  font-size: min(4rem, max(3rem, 2vw));
  font-weight: bolder;
  height: 6rem;
  width: 6rem;
  border: 1px solid gray;
  box-shadow: 0.1rem 0.1rem 0.1rem gray;
}

.square:hover {
  background-color: lightgreen;
}

.square:focus {
  background-color: lightpink;
  outline: none;
}

.game-info {
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 0.1rem;
}

div.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

li > button {
  border-right: none;
  border-bottom: none;
  border: 1px solid gray;
  margin-left: 0.3rem;
}

li > button:hover {
  background-color: lightpink;
}

#foot {
  font-size: 0.8rem;
}
